<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Liste des Tache</h1>
    <form action="/lists" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" />
      <input type="submit" />
    </form>
  
    <ul>
      <% lists.forEach((liste) => { %>
        <li><a href="<%= `/see/${liste.id}` %>"><%= liste.name %></a></li>
      <% }) %>


    
</body>
</html>