<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="all-listes">
        <h1>le detaile de nos Tache</h1>
         <% lists.forEach((liste) => { %>
            <li><%= `${liste.username }` %></a></li>
            <li><%= `${liste.start_date}` %></a></li>
            <li><%= `${liste.status}` %></a></li>
            <li><%= `${liste.telephn}` %></a></li>
    </div>
      <% }) %>
  
</body>
</html>