body{
    background-color: rgb(44, 212, 72);
}
/* form {
    border: solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
input[type="submit" i{
    background-color: brown;
} */
